.add-book-page, .add-author-page {
    display: grid;
    /* grid-template-columns: 2fr 2fr; */
    margin-bottom: 100px;
}

.add-book-contents, .add-author-contents {
    margin: 10px 10% 0px 10%;
}

#add-book, #add-author {
    color: #1F1F1F;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.add-book-form, .add-author-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    width: 70%;
}

.add-book-form .input-field, .add-author-form .input-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 50%;
}

.add-book-form input[type='text'],
.add-book-form input[type='number'],
.add-author-form input[type='text'],
#description {
    border: 1px solid #ABABAB;
    outline: none;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0px;
    width: 100%;
}

#description {
    height: 100px;
}

.input-field-rating {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 5%;
}

.input-field-description {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 70%;
}

.add-book-form .file-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 70%;
}

.add-book-form input[type='file'] {
    margin: 5px 0px;
}

.save-changes-book, .save-changes-author  {
    background-color: #1F1F1F;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    margin: 10px 0px;
}