body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

p {
    margin: 0;
    font-size: 16px;
}

a {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #1f1f1f;
}
a:hover, button:hover{
    opacity: 50%;
}

button {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #1f1f1f;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}